/* body{
    background-color: rgb(244, 204, 211);
}
 */


 /* Navbar */
 .navbar{
    height: 5rem;
 }

 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }  

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
} 

.f-info-links, .f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    margin-right: 1.2rem;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-left: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
// Updated: 2026-01-13 14:20:51

// Updated: 2026-01-13 14:20:51
